<div class="mdl-cell mdl-cell--12-col">
  {{#link-to "admin.menu-items"}}
    {{mdl-button isRaised=true text="Edit Menu"}}
  {{/link-to}}

  {{#link-to "admin.orders"}}
    {{mdl-button isRaised=true text="View Orders"}}
  {{/link-to}}
</div>

<div class="mdl-cell mdl-cell--12-col">
  {{outlet}}
</div>
